<script defer data-domain="heythere.band" src="https://plausible.aricodes.net/js/script.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rock+3D&display=swap" rel="stylesheet">
<style type="text/css">
  /* Customize our logo */
  .profile_inner > h1 {
    font-family: "Rock 3D", system-ui;
    text-transform: uppercase;
    font-size: 72px;
    word-spacing: -0.6ch;
    letter-spacing: -0.05ch;
    line-height: 1.5;
  }

  /* Make the logo letters follow a curve */
  .profile_inner > h1 span {
    @media (min-width: 521px) {
      position: relative;
      top: calc(var(--i) * -10px);
    }
  }

  /* Prevent individual words from wrapping */
  .profile_inner > h1 > .no-break {
    white-space: nowrap;
  }

  /* Use a smaller, darker font for our location */
  .profile_inner .small {
    font-size: 15px;
    color: #A6A6A6;
  }

  /* Flip the E in hey thEre */
  .flip-h {
    transform: scale(-1, 1);
    display: inline-block;
  }

  /* Make the footer a little smaller */
  footer.footer {
    font-size: 10px;
  }

  /* Prevent menu items from overflowing */
  ul#menu li {
    overflow-x: hidden;
  }
</style>
